---
interface Props {
	title: string;
	additionalClasses?: string;
}

const { title, additionalClasses } = Astro.props;

const classes =
	'shadow-solid rounded-xl border-4 border-black' +
	(additionalClasses ? ' ' + additionalClasses : '');
---

<div class={classes}>
	<div class="flex items-center gap-2 border-b-2 border-black p-2">
		<div class="h-5 w-5 rounded-xl border-2 border-black bg-white"></div>
		<div class="grow text-center font-bold">{title}</div>
	</div>
	<div class="p-2">
		<div class="no-scrollbar h-40 overflow-y-auto font-bold">
			<slot>
				<p></p>
			</slot>
		</div>
	</div>
</div>
